.jumbotron.new{
  background-image: url("https://besthqwallpapers.com/img/original/77592/wembley-stadium-empty-stadium-soccer-hdr-wembley.jpg");
  padding:70px 30px 70px 30px;
  margin:0px auto;
  color:floralwhite;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto 100%;
  height: 755px;
}
.ediiiit{
    background-color: rgba(0,0,0,.03);
}